.body
{
	background-image: url("images123.jpg")
}
.form{

    position: absolute;
    top:10%;
    left: 70%;
    border: 1px solid;
    padding: 70px;
    padding-top: 30px;
    box-sizing: border-box;
    border-radius: 25px;



}

.form .input input{
    border-radius: 5px;
    border-color: black;
    width: 250px;
    padding: 10px;
    background-color: rgb(104, 100, 98);
    background-color:transparent;
    
    
}
::placeholder{
    color: #000;
}
.form .button button{
    background-color:rgb(140, 223, 226);
    border-radius: 8px;
     text-align:center;
    padding: 10px;
    padding-left: 150px;
      border-color: black;


}
.but button{
    background-color:rgb(228, 214, 18);
    border-radius: 5px;
    padding: 30px;
    padding-left: 30px;
    text-align: center; 
}
.form .h2{
    text-align: center;
    
}
a:link{
    color:blue;
    font-size: 20px;
}
a:visited{
    color: blue;
}
a:hover{
    color: red;
}
.logout{
 position: absolute;
    top:3%;
    left: 90%;

}

