<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.register.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>loginpage.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Profile</servlet-name>
  	<display-name>Profile</display-name>
  	<description></description>
  	<servlet-class>com.profile.Profile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Update</servlet-name>
  	<display-name>Update</display-name>
  	<description></description>
  	<servlet-class>com.Updatedata.Update</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loan</servlet-name>
  	<display-name>loan</display-name>
  	<description></description>
  	<servlet-class>com.loan.loan</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loanpage</servlet-name>
  	<display-name>loanpage</display-name>
  	<description></description>
  	<servlet-class>com.loanpage.loanpage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Card</servlet-name>
  	<display-name>Card</display-name>
  	<description></description>
  	<servlet-class>com.card.Card</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Bank</servlet-name>
  	<display-name>Bank</display-name>
  	<description></description>
  	<servlet-class>com.bank.Bank</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Transform</servlet-name>
  	<display-name>Transform</display-name>
  	<description></description>
  	<servlet-class>com.transform.Transform</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Acount</servlet-name>
  	<display-name>Acount</display-name>
  	<description></description>
  	<servlet-class>com.Acount.Acount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>transation</servlet-name>
  	<display-name>transation</display-name>
  	<description></description>
  	<servlet-class>com.transation.transation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>home</servlet-name>
  	<display-name>home</display-name>
  	<description></description>
  	<servlet-class>com.home.home</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>delete</servlet-name>
  	<display-name>delete</display-name>
  	<description></description>
  	<servlet-class>com.delete.delete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>About</servlet-name>
  	<display-name>About</display-name>
  	<description></description>
  	<servlet-class>com.about.About</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>contact</servlet-name>
  	<display-name>contact</display-name>
  	<description></description>
  	<servlet-class>com.contact.contact</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>savefeedback</servlet-name>
  	<display-name>savefeedback</display-name>
  	<description></description>
  	<servlet-class>com.feedbackdata.savefeedback</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Profile</servlet-name>
  	<url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Update</servlet-name>
  	<url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loan</servlet-name>
  	<url-pattern>/loan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loanpage</servlet-name>
  	<url-pattern>/loanpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Card</servlet-name>
  	<url-pattern>/card</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Bank</servlet-name>
  	<url-pattern>/bank</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Transform</servlet-name>
  	<url-pattern>/transform</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Acount</servlet-name>
  	<url-pattern>/acount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>transation</servlet-name>
  	<url-pattern>/transation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>delete</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>About</servlet-name>
  	<url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>contact</servlet-name>
  	<url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>savefeedback</servlet-name>
  	<url-pattern>/savefeedback</url-pattern>
  </servlet-mapping>
</web-app>
